tools/infra/*
tools/email/*
tools/username/*
tools/phone/*
tools/intel/*

!tools/infra/.gitkeep
!tools/email/.gitkeep
!tools/username/.gitkeep
!tools/phone/.gitkeep
!tools/intel/.gitkeep

reports/


__pycache__/
*.pyc
.pytest_cache/
